.header {
  padding: 40px 0 30px;
  background-color: var(--primary-bg);
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header__link {
  display: block;
  padding: 8px 0;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width .2s;
}

.header__link_active {
  text-decoration: underline 2px dashed var(--accent-color);
  text-underline-offset: 8px;
  cursor: default;
}

.header__link:not(.header__link_active):hover::after {
  width: 100%;
}

.header__link:not(.header__link_active):active {
  opacity: 0.5;
}
