.popular-courses {
    padding: 40px 0 60px;
}

.popular-courses__item {
    padding: 20px 20px 50px;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
}

.popular-courses__link {
    display: inline-block;
}