.section {
  padding: 120px 0;
}

.section_main-screen {
  margin-top: -270px;
}

.section_banner {
    background-image: url("../../assets/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section_primary {
  background-color: var(--primary-bg);
  color: var(--primary-color);
}

.section__title {
max-width: 542px;
font-weight: 500;
font-size: 58px;
line-height: 120%;
color: inherit;
padding-bottom: 25px;
}

.section__title_center {
  text-align: center;
  width: 100%;
}

.section__text {
    padding-bottom: 55px;
}

@media (max-width: 1190px) {
  .section {
    padding: 60px 0;
  }

  .section_banner {
    background-size: contain;
    padding-top: 450px;
  }

  .section__title {
    max-width: 410px;
    font-size: 42px;
  }
}

@media (max-width: 720px) {
    .section_main-screen {
        margin-top: -80px;
        padding: 0;
    }

    .section_banner {
      padding-bottom: 0;
    }
}

@media (max-width: 480px) {
    .section__title {
      max-width: 330px;
    font-size: 26px;
    }
}

