.statistic {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 120px;
}

.statistic__title {
  font-size: 58px;
  line-height: 1;
  font-weight: 400;
  color: var(--primary-bg);
  padding-bottom: 15px;
}


